<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      #customers td,
      #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #customers tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      #customers tr:hover {
        background-color: #ddd;
      }

      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04aa6d;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Create New user</h1>
    <table id="customers">
      <tr>
        <th>Email</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
      <% for(let i=0; i < dataTable.length; i++) { %>
      <tr>
        <td><%= dataTable[i].email %></td>
        <td><%= dataTable[i].firstName %></td>
        <td><%= dataTable[i].lastName %></td>
        <td><%= dataTable[i].address %></td>
        <td>
          <a href="/edit-crud?id=<%= dataTable[i].id %>">Edit</a>
          <a href="delete-crud?id=<%= dataTable[i].id %>">Delete</a>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
